.header__logo {
   max-width: 142px;
   min-height: 33px;
   margin-bottom: 41px;
   object-fit: cover;
}

@media screen and (max-width: 320px) {
   .header__logo {
      background-size: 106px 25px;
      max-width: 106px;
      min-height: 25px;
      margin: 28px auto 32px 27px;
   }
}