.header {
   max-width: 880px;
   margin: 45px auto 36px;
   border-bottom: 1px solid #545454;
}

@media screen and (max-width: 920px) {
    .header {
        max-width: 600px;
    }
}

@media screen and (max-width: 650px) {
    .header {
        max-width: 282px;
        margin: 35px auto 36px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 320px;
        margin: 0 0 38px;
    }
}